h1{
	font-family: "lobster" , cursive;
    text-align: center;
}


#div1{
	margin-right: : auto;
	margin-left: auto;
	color: white;
	font-size: 58px;
	background-color: pink;
	border:solid 5px #FF3399;
	}

.right{
	margin: auto;
	float: right;
     width: 95px;
     padding-top: 88px;

}


#button{
 width: 1000px;
 color: red;
  text-align: center;
}



ul{
	list-style-type: none;
	 text-align: center;
	  padding: 50px;
	  font-style: oblique;
	  font-size: 30px;
    
}





h2{
font-size: 50px;
font-family: "lobster" , cursive;
 text-align: center;
}

p{
	font-size: 35px;
	 text-align: center;
}


#theName{
	width: 10000000000px;
	padding: 10px;
margin-right: : auto;
	margin-left: auto;
	color: black;

}


#input{
		width: 200px;
		height: 40px;
	padding: 10px;
		 text-align: center;

 
}

#input11{
	text-align: center;
	height: auto;

}


button{
	width:100px;
	 text-align: center;


}


 body{
	margin-right: : auto;
	margin-left: auto;
	background-image: url('https://data.whicdn.com/images/157002781/large.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}












